{{ define "home.html" }}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      id="home-js"
      rtmp-url="{{ .rtmpURL }}"
      hls-url="{{ .hlsURL }}"
      api-url="{{ .apiURL }}"
      {{/* src="/public/js/home-es5.js" */}}
      src="/public/js/home.js"
      defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <title>LIVE STREAMING EXAMPLE</title>
  </head>
  <body>
    <div class="root-wrapper" id="root-wrapper">
      <div class="setting-wrapper">
        <div class="room-name-wrapper">
          <label for="room-name-input">방 변경: </label>
          <div class="room-name-input-wrapper">
            <input
              type="text"
              id="room-name-input"
              onpointerenter="handleRoomNamePointerEnter()"
            />
            <button type="button" onclick="handleRoomNameClick(event)">
              변경/리로드
            </button>
          </div>
          <div class="room-name-status" id="room-name-status"></div>
        </div>

        <div class="rtmp-address-wrapper">
          <div class="rtmp-address-create-wrapper">
            <div class="rtmp-address">방 rtmp-address</div>
            <button onclick="getRtmpAddress()">재발급</button>
            <button
              class="clip-board-btn"
              data-clipboard-target="#rtmp-address-status"
            >
              복사
            </button>
          </div>
          <textarea
            class="rtmp-address-status"
            id="rtmp-address-status"
            readonly
          ></textarea>
        </div>
      </div>
      <div class="streaming-wrapper">
        <video
          id="video"
          class="video"
          autoplay="autoplay"
          muted="muted"
          controls
          crossorigin="anonymous"
        ></video>
        <div class="chat-wrapper" id="chat-wrapper">
          <div class="user-info">
            <span class="room-name" id="room-name">방이름</span>
            /
            <span class="chat-id" id="chat-id"></span>
          </div>
          <div class="chat-log-wrapper" id="chat-log-wrapper"></div>
          <form
            class="chat-input-wrapper"
            id="chat-form"
            onsubmit="return handleChatSubmit(event)"
          >
            <input id="chat-input" class="chat-input" />
            <button type="submit" class="chat-submit">전송</button>
          </form>
        </div>
      </div>
      <div class="dummy"></div>
    </div>
  </body>
</html>

{{ end }}
