html {
}

body {
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.root-wrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 720px;
  height: 100%;
  overflow-y: scroll;
}
@media screen and (max-width: 720px) {
  .root-wrapper {
    width: 100%;
  }
}

.room-name-wrapper {
  display: flex;
  flex-direction: column;
}

.room-name-input-wrapper {
  display: flex;
  flex-direction: row;
}

.room-name-status {
  display: flex;
  word-break: keep-all;
}

.setting-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: space-between;
  background-color: darkgrey;
  padding-left: 1rem;
}

.room-name {
  font-size: 1.4rem;
}
@media screen and (max-width: 720px) {
  .room-name {
    font-size: 1rem;
  }
}

.chat-id {
  font-size: 1.4rem;
}
@media screen and (max-width: 720px) {
  .chat-id {
    font-size: 1rem;
  }
}

.rtmp-address-wrapper {
  display: flex;
  flex-direction: column;
}

.rtmp-address-status {
  display: flex;
  /* overflow-wrap: break-word; */
  overflow-y: scroll;
}

.streaming-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.video {
  display: flex;
  height: 100%;
  /* height: 399px; */
  width: 100%;
  align-items: center;
  object-fit: scale-down;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: chocolate;
  height: 10.4rem;
  overflow-y: scroll;
}

.chat-log-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 8.4rem;
  background-color: slategrey;
  position: relative;
  overflow-y: hidden;
}

.user-info {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  background-color: thistle;
}

.chat-log {
  display: flex;
  flex-direction: column;
}

.chat-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2rem;
}

.chat-submit {
  width: 4rem;
}

.chat-input {
  width: 100%;
  font-size: 1.2rem;
  /* font-size: 3rem; */
}

.rtmp-address-create-wrapper {
  display: flex;
  flex-direction: row;
}
